.App {
  text-align: center;
}

.btn {
  background-color: rgb(245, 209, 166);
  border: 1px solid rgb(248, 198, 136);
  padding: 5px;
}

.btn:hover {
  background-color: rgb(240, 194, 139);
  transform: scale(1.1);
}
